[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "forestsearch"]
	path = forestsearch
	url = https://github.com/larry-leon/forestsearch
[submodule "weightedsurv"]
	path = weightedsurv
	url = https://github.com/larry-leon/weightedsurv
